*.pyc
__pychache__/
*/__pychache__/
DiSSOmniaG/dissomniag.db
DiSSOmniaG/ssh_key
DiSSOmniaG/ssh_key.pub
DiSSOmniaG/cert.pem
DiSSOmniaG/privatekey.pem
DiSSOmniaG/htpasswd
DiSSOmniag/dissomniag/unittest/log/*
DiSSOmniaG/log/*
docs/build/*
docs/log/*
DiSSOmniaG_liveClient/log/*
docs/.pydevproject
docs/.project
docs/.settings
DiSSOmniaG/.pydevproject
DiSSOmniaG/.project
DiSSOmniaG/.settings
DiSSOmniaG/static/live/liveDaemon/dissomniagLive.tar.gz
