*.pyc
__pychache__/
*/__pychache__/
DiSSOmniaG/dissomniag.db
DiSSOmniaG/htpasswd
DiSSOmniag/dissomniag/unittest/log/*
DiSSOmniaG/log/*
docs/build/*
docs/log/*
DiSSOmniaG_liveClient/log/*
LiveCdTestEnvironment/chroot/*
LiveCdTestEnvironment/*.iso
LiveCdTestEnvironment/binary.packages
LiveCdTestEnvironment/binary.list
LiveCdTestEnvironment/binary/*
LiveCdTestEnvironment/cache/*
